{% extends 'principal/base.html' %}

{% block title %}Línea del tiempo | Inteligencia Artificial{% endblock %}

{% block content %}

<section class="pagina-linea-tiempo">

    <div class="encabezado-ia">
        <span class="etiqueta">EVOLUCIÓN DE LA IA</span>

        <h2>Línea del tiempo</h2>

        <p>
            Conozcamos algunos de los acontecimientos más importantes
            en la evolución de la Inteligencia Artificial :).
        </p>
    </div>

    <div class="contenedor-linea-tiempo">

        <img 
            src="/static/principal/img/linea_tiempo/linea_tiempo.png"
            alt="Línea del tiempo de la Inteligencia Artificial"
        >

    </div>

</section>

{% endblock %}